body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('bg.png');
    background-size: 100%;


}

h1 {
    font-size: 2rem;
    line-height: 3rem;
}

@keyframes shaky {
    0% {
        transform: rotate(0deg);
        color: black;
    }
    25% {
        transform: rotate(10deg);
        color: #FF9F1C;
    }
    50% {
        transform: rotate(0deg);
        color: #E71D36;
    }
    75% {
        transform: rotate(10deg);
        color: #2EC4B6;
    }
    100% {
        transform: rotate(0deg);
        color: black;
    }
}

h1 span {
    animation: shaky 1s infinite;
    display: inline-block;
}

header h1 {
    text-align: center;
    margin: 45px 0;
}


ul {
    max-width: 400px;
    margin: 0 auto;
    list-style: none;
    padding-left: 0;
}

@keyframes popin {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

ul li {
    list-style-type: none;
    box-shadow: 0 2px 4px 0 rgba(57,55,56,0.15);
    margin-bottom: 24px;
    padding: 12px;
    border-radius: 8px;
    background-color: #f4f4f4;
    animation: popin 0.3s cubic-bezier(0.05, 1.74, 0.49, 0.9);
}

ul li select {
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
}

ul li h1, ul li p {
    margin-bottom: 24px;
}



form button,.start-quiz {
    margin: 0 auto;
    background-color: #02C39A;
    padding: 12px 24px;
    border: none;
    border-radius: 50px;
    color: white;
    display: block;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 24px;
    box-shadow: 0 2px 4px 0 rgba(57,55,56,0.15);
    transition: transform 0.3s, box-shadow 0.3s;
    outline: none;
}

form button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 4px 0 rgba(57,55,56,0.15);
}

form button:active {
    transform: translateY(1px);
    box-shadow: 0 1px 4px 0 rgba(57,55,56,0.15);
}



canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.result {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 24px;
}

li button {
    margin:5px 0;
    background-color:rgb(255, 255, 255,0.5);
    padding: 12px;
    border-radius:0;
    border-radius: 7px;
    border: none;
    color: rgb(0, 0, 0);
    box-shadow: 0 2px 4px 0 rgba(58, 55, 56, 0.15);
  
}

li h3{
    padding:5px;
    background-color:rgba(238, 117, 117, 0.685);
}

li h4{
    padding:5px;
    background-color:rgba(105, 97, 97, 0.685);
    text-decoration: line-through;
}

.answers li{
    background-color:rgba(148, 253, 210, 0.5);
}

.answers{
    max-width: 450px;
    margin:25px;
}

.hidden{
    display: none;
}


.modal {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
    align-items: center;
}

.modal-contents {
	height: 450px;
    width: 500px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}

a{
    text-decoration: none;
}


.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
	&:hover {
		color: #666;
	}
}

.timer{
    text-align: center;
    padding:50px;
    border-radius:5px;
    position: fixed;
    margin: 20px 300px;   
    background-image: url("clock1.png");
    background-size: 84%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    font-size:20px;
    font-weight: bold;
    color:black;
    text-shadow: 3px 2px rgb(25, 139, 192);
}

main{
    display:none;
}


.start-quiz:hover, .difficulty:hover{
    background-color:rgb(122, 188, 243);
    transform: translateY(-2px);
    box-shadow: 0 4px 4px 0 rgba(57,55,56,0.15);
}

.timer-points{
    margin:80px auto;
    border:solid 3px black;
    padding:20px;
    width:650px;
    box-shadow:-1px -1px 20px rgba(100, 176, 226);
}

.restart-quiz{
    font-weight: bold;
    margin-top:-10px;
}

main ul{
    position: relative;
}

.difficulty{
    background-color: #02C39A;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 24px;
    box-shadow: 0 2px 4px 0 rgba(57,55,56,0.15);
    transition: transform 0.3s, box-shadow 0.3s;
    outline: none;
    word-spacing: 35px;
}

.btn-intro{
   text-align: center;
   margin-top:-20px;
   margin-bottom:10px;
}

#extra-points{
    text-align: center;
    margin-top:-20;
}

.score-summary{
    margin-top: -10px;
}